
section.about div.photo {
    grid-column: 1/ span 6;
}

section.about div.description {
    grid-column: 7/ span 6;
}

section.about p {
    margin: 16px 0;
}

section.about h1 {
    text-align: unset;
}

@media (max-width: 800px) {
    section.about div.photo,
    section.about div.description {
        grid-column: 1/ span 4;
    }
   
}